@import '../../application';

.ReactPlayerButton {
  border: 0;
  padding: 0;
  color: $primary-color;
  background-color: rgba(0,0,0,0);
  font-size: 3.5em;
  display: inline-block;
  margin-left: 5vw;
  &:first-of-type {
    margin-left: 1vw;
  }
}

.ReactPlayerButtonActive {
  color: $primary-dark-color;
}

.ReactPlayerButtonRepeatOne::after {
  content: '1';
  font-size: 0.4em;
  color: tomato;
  position: absolute;
  right: 1.7em;
  width: 0;
  bottom: 2.2em;
  margin: 0;
  padding: 0;
}
