@import '../../application';

.ReactPlayerButton {
  border: 0;
  padding: 0;
  color: $primary-color;
  background-color: rgba(0,0,0,0);
  font-size: 3.5em;
  display: inline-block;
  margin-left: 5vw;
  &:first-of-type {
    margin-left: 1vw;
  }
}
@media only screen and (min-width: 480px) {
  .ReactPlayerButton {
    margin-left: 8vw;
    &:first-of-type {
      margin-left: 3vw;
    }
  }
}
@media only screen and (min-width: 600px) {
  .ReactPlayerButton {
    margin-left: 10vw;
    &:first-of-type {
      margin-left: 3vw;
    }
  }
}
@media only screen and (min-width: 992px) {
  .ReactPlayerButton {
    margin-left: 13vw;
    &:first-of-type {
      margin-left: 4vw;
    }
  }
}
@media only screen and (min-width: 1224px) {
  .ReactPlayerButton {
    margin-left: 14vw;
    &:first-of-type {
      margin-left: 4vw;
    }
  }
}

.ReactPlayerButtonActive {
  color: $primary-dark-color;
}

.ReactPlayerButtonRepeatOne::after {
  content: '1';
  font-size: 0.4em;
  color: tomato;
  position: absolute;
  right: 1.7em;
  width: 0;
  bottom: 2.2em;
  margin: 0;
  padding: 0;
}
