@import '../../application';

.ReactPlaylist {
  position: absolute;
  height: calc(100vh - #{$header-height} - #{$header-height});
  width: 100vw;
  top: $header-height;
  background-color: $light-background-color;
  overflow: scroll;
  color: $default-color;
  div:nth-of-type(odd) {
    background-color: $light-background-color;
  }
}
@media only screen and (min-width: 800px) {
  .ReactPlaylist {
    width: 800px;
  }
}
