@import '../../application';

.ReactUploadForm {
  position: absolute;
  height: calc(100vh - #{$header-height} - #{$header-height});
  width: 100vw;
  top: $header-height;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

