@import '../../application';

.ReactUploadFormFields {
  width: 250px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  color: $default-color;
  margin: 10px;
  input {
    float: right;
  }
  label {
    float: left;
  }
}

@keyframes uploading {
  50%  {background: repeating-linear-gradient(
    45deg, 
    #465298, 
    #465298 10px, 
    #606dbc 10px, 
    #606dbc 20px
  );}
  100% {background: repeating-linear-gradient(
    45deg, 
    #606dbc, 
    #606dbc 10px, 
    #465298 10px, 
    #465298 20px
  );}
}
.ReactUploadFormUploading {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  animation: uploading 1s infinite;
}

.ReactUploadFormUploaded {
  background-color: rgba(79, 138, 16, 0.4)
}

.ReactUploadFormFailed {
  background-color: rgba(216, 0, 12, 0.4)
}
