@import '../../application';

$form-height: 39px;
.ReactSearchPage {
  position: absolute;
  height: calc(100vh - #{$header-height} - #{$header-height});
  width: 100vw;
  top: $header-height;
  overflow: scroll;
  background-color: $light-background-color;
  color: $default-color;
  form {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    input {
      height: $form-height;
      width: 300px;
      font-size: 2em;
    }
    button {
      border-radius: 0px;
      background-color: white;
      border: 0;
      height: calc(#{$form-height} + 6px);
      font-size: 2em;
    }
  }
}

.ReactSearchPageResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
